<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Matches</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      Matches
    </ion-list-header>
    <ion-item lines="inset" *ngFor="let data of Data">
      <ion-label>
        <h5>{{data.player1_id}}</h5>
        <h5>{{data.player2_id}}</h5>
        <h5>{{data.player3_id}}</h5>
        <h5>{{data.player4_id}}</h5>
        <p>{{data.team1_score}}</p>
        <p>{{data.team2_score}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
