<ion-app>
  <ion-buttons slot="start">
    <ion-menu-button id="menu-button"></ion-menu-button>
  </ion-buttons>
  <ion-menu side="start" menuId="first" contentId="side-menu-content">
    <ion-header>
      <ion-toolbar id="side-menu-toolbar">
        <ion-title class="ion-text-center">MyBadmintonClub</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigation">
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="pages.url" routerDirection="forward">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                {{pages.title}} 
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="side-menu-content"></ion-router-outlet>
</ion-app>
